.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    background-color: white;
    border-bottom: 1px solid var(--color-grey-light-2);
    // override global font-size of 10px for header element
    font-size: 1.4rem;
    height: 7rem;

    display: flex;
    // align items along the *main axis* with justify content
    justify-content: space-between;
    // align items along the *cross axis* with align items
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    /**
      * static width for the sidebar
      * 1st value is for `flex-grow`
      * 2nd for `flex-shrink`
      * 3rd for `flex-basis`
      */
    flex: 0 0 18%;

    // make element a flex-container:
    display: flex;
    // and since it's displayed as a side-bar, not a top navbar, set direction to column
    flex-direction: column;
    // align items along the *main axis*
    justify-content: space-between;
}

.hotel-view {
    background-color: white;

    /**
      * the `hotel-view` element should occupy
      * all remaining space in its container
      */
    flex: 1;
}

.detail {
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    display: flex;
    padding: 4.5rem;
}

.description {
    background-color: white;
    box-shadow: var(--shadow-light);
    font-size: 1.4rem;
    margin-right: 4.5rem;
    padding: 3rem;

    // this div should occupy 60% of available width (0 flex-grow, 0 flex-shrink, 60% flex-basis)
    flex: 0 0 60%;
}

.user-reviews {
    background-color: yellowgreen;
    
    // since `.description` occupies 60%, this element can occupy all the rest:
    flex: 1;
}