/**
  * `:root` pseudo-class is very much like the `html` selector,
  * but with higher specificity
  *
  * this is very useful to declare css variables
  */
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0m 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0 , 0, .06);
  --line: 1px solid var(--color-grey-light-2)
; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  background-color: white;
  border-bottom: 1px solid var(--color-grey-light-2);
  font-size: 1.4rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  /**
      * static width for the sidebar
      * 1st value is for `flex-grow`
      * 2nd for `flex-shrink`
      * 3rd for `flex-basis`
      */
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: white;
  height: 80rem;
  /**
      * the `hotel-view` element should occupy
      * all remaining space in its container
      */
  flex: 1; }

.detail {
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  display: flex;
  padding: 4.5rem; }

.description {
  background-color: white;
  box-shadow: var(--shadow-light);
  font-size: 1.4rem;
  margin-right: 4.5rem;
  padding: 3rem;
  flex: 0 0 60%; }

.user-reviews {
  background-color: yellowgreen;
  flex: 1; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 1000px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin-right: -3.25rem;
    padding: .7rem 2rem;
    width: 90%;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  /**
      * override `header`'s `align-items: center` property so that
      * the user-nav flex-items occupy all the height of the
      * header
      */
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    cursor: pointer;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    fill: var(--color-grey-dark-2);
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__notification {
    background-color: var(--color-primary);
    border-radius: 50%;
    color: white;
    font-size: .8rem;
    height: 1.75rem;
    position: absolute;
    right: 1.1rem;
    top: 1.5rem;
    width: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    border-radius: 50%;
    height: 3.75rem;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    display: block;
    padding: 1.5rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    fill: currentColor;
    height: 1.75rem;
    margin-right: 2rem;
    width: 1.75rem; }

.legal {
  color: var(--color-grey-light-4);
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  align-items: center; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    text-transform: uppercase; }
  .overview__stars {
    /**
          * this element should grow and occupy all available space
          * but using `flex: 1;` would make it's width equally large
          *
          * we can set `margin-right: auto;` and get the same effect,
          * while maintaining the element's width equal to its content
          */
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    fill: var(--color-primary);
    height: 1.75rem;
    width: 1.75rem; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    align-self: stretch;
    background-color: var(--color-primary);
    color: white;
    margin-left: 3rem;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }

.btn-inline {
  background: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding-bottom: 2px;
  transition: all .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    animation: pulsate 1s infinite;
    outline: none; }

@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1); }
  50% {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    transform: scale(1.05); }
  100% {
    box-shadow: none;
    transform: scale(1); } }
